:root {
  --joins-color: #ffffff;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-weight: 700;
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #fff;
}
.container {
  margin: 0 auto;
  width: 1170px;
  padding: 0 15px;
}
.team-list {
  display: flex;
  justify-content: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-position {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--second-family);
  font-size: 26px;
  color: #2196f3;
  display: block;
}

.logo-Studio {
  color: #000;
}
.menu-list {
  display: flex;
  column-gap: 30px;
  margin-left: 93px;
}
.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
}
.menu-link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  top: 45px;
}
.menu-link:hover,
.contact-link:hover {
  color: #2196f3;
}
.contact-list {
  display: flex;
  column-gap: 30px;
  margin-left: auto;
}
.contact-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-link:hover .contact-icon {
  fill: #2196f3;
}
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/hero-overlay.png), url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-taitel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-button {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
}

.particularity {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-name {
  display: none;
}
.particularity-list {
  display: flex;
  column-gap: 30px;
}
.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.particularity-icon {
  width: 65px;
  height: 70px;
}

.particularity-big-text {
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.particularity-text {
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
}
.we-do {
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.we-do-list {
  display: flex;
  column-gap: 30px;
}
.we-do-item {
  position: relative;
}
.we-do-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background: #f5f4fa;
}
.team-list {
  display: flex;
  column-gap: 30px;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
  margin-top: 30px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}
.icon-team {
  display: flex;
  margin-bottom: 30px;
  column-gap: 10px;
  justify-content: center;
}

.icon-list {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon {
  fill: #afb1b8;
}
.icon-list:hover .social-icon {
  fill: #ffffff;
}
.icon-list:focus,
.icon-list:hover {
  background-color: #2196f3;
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  column-gap: 27px;
}
.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-item:hover {
  border: 1px solid #2196f3;
}
.clients-item:hover .clients-icon {
  fill: #2196f3;
}
.clients-icon {
  fill: #afb1b8;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-position {
  display: flex;
}
.logo-footer {
  margin-bottom: 20px;
}
.footer-logo-Studio {
  color: #ffffff;
}

.footer-post {
  font-weight: 400;
  line-height: 1.71;
  padding-bottom: 9px;
}
.footer-contakts {
  font-style: normal;
}
.footer-list-item {
  padding-bottom: 9px;
}

.footer-item-link {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.joins {
  color: var(--joins-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.icon-social__footer {
  fill: var(--joins-color);
}
.icon-list__footer {
  display: flex;
  column-gap: 10px;
}
.link-social__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  width: 44px;
  height: 44px;
  background-color: #44454e;
}
.link-social__footer:focus,
.link-social__footer:hover {
  background-color: #2196f3;
}
.conteiner-footer {
  margin-left: 93px;
  margin-top: 12px;
}
.conteiner-footer1 {
  margin-left: auto;
  margin-top: 12px;
}
.email-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
}
.email-input::placeholder {
  padding-left: 16px;
}
.btn-footer {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 12px;
}
.form-footer {
  display: flex;
}
.icon-tg {
  fill: #fff;
}
/* модальне викно */
.backdrop {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  background-color: #757575;
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.modal-close-btn:hover {
  color: #2196f3;
}
.modal-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal-input-wraper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-field-name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal-field-input {
  /* width: 448px; */
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-field-input:focus {
  border: 1px solid #2196f3;
}
.modal-field-input {
  padding-left: 42px;
}
.modal-field-input:hover {
  border-color: #2196f3;
}
.modal-field-input:hover ~ .modal-icon,
.modal-field-input:focus ~ .modal-icon {
  fill: #2196f3;
}
.modal-icon {
  position: absolute;
  top: 32px;
  left: 13px;
}
.modal-input-wraper + .modal-input-wraper {
  margin-top: 10px;
}
.modal-coment-fild {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* width: 448px; */
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-check {
  margin-top: 20px;
  margin-left: 10px;
  /* margin-right: auto; */
}
.modal-check-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-agreement {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}
.modal-button {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 6px 32px;
  margin-top: 30px;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}
/* portfolio */

.gellary {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-button {
  padding: 6px 22px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.filters-button:hover {
  color: #f5f4fa;
  background-color: #2196f3;
}
.gellary-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.gellary-item {
  outline: 1px solid #eee;
  background: #fff;
  flex-basis: calc((100% - 60px) / 3);
}
.gellary-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.gellary-item-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.gellary-item-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.gellary-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
