:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-weight: 700;
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #fff;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-position {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--second-family);
  font-size: 26px;
  color: #2196f3;
  display: block;
}

.logo-Studio {
  color: #000;
}
.menu-list {
  display: flex;
  column-gap: 30px;
  margin-left: 93px;
}
.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link:hover,
.contact-link:hover {
  color: #2196f3;
}
.contact-list {
  display: flex;
  column-gap: 30px;
  margin-left: auto;
}
.contact-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-link:hover .contact-icon {
  fill: #2196f3;
}
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/hero-overlay.png), url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-taitel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-button {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
}

.particularity {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-name {
  display: none;
}
.particularity-list {
  display: flex;
  column-gap: 30px;
}

.particularity-big-text {
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.particularity-text {
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
}
.we-do {
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.we-do-list {
  display: flex;
  column-gap: 30px;
}
.we-do-item {
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  column-gap: 30px;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
  margin-top: 30px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo-Studio {
  color: #ffffff;
}

.footer-post {
  font-weight: 400;
  line-height: 1.71;
  padding-bottom: 9px;
}
.footer-contakts {
  font-style: normal;
}
.footer-list-item {
  padding-bottom: 9px;
}

.footer-item-link {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
